/*Sessão três// PROJETOS*/
.projetos{
    background:  #1b52bfa9;
    height: 100vh;
}
.titulo-projetos {
    text-align: center;
    font-family: 'Minecrafter', sans-serif;
    font-size: 3em;
    color: #FFFF;
    padding-top: 50px;
}
.conteiner-proj {
    display: flex;
    justify-content: space-between;
    background:  #1b52bf00;
    width: 60vw;
    margin-top: 50px;
    margin-left: 20vw;
}
.conteiner-prnj-esconder {
    display: flex;
    justify-content: space-between;
    background:  #1b52bf00;
    width: 60vw;
    margin-left: 20vw;
}
.button-mostra {
    display: block;
    font: 1.2em sans-serif;
    background:  #1b52bf00;
    color: white;
    border: none;
    margin: auto;
    padding-top: 30px;
    cursor: pointer;
}
.button-mostra:hover {
    text-decoration: underline;
}
.hide {
    display: none;
}

.cads {
    display: flex;
    justify-content: center;
    background-color: #c5cae9;
    width: 400px;
    height: 250px;
    margin: 40px 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.226);
    transition: 1s;
}
.cads:hover {
    transform: scale(1.1);
}
.em-breve {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    padding-top: 100px;
    text-transform: uppercase;
}