@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


.header {
    height: 10vh;
    background:#91BBF2;
    padding: 0px 20px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    column-gap: 30px;
    margin-left: 9vh;
}
a {
    font-family: 'Noto Sans', sans-serif;
    color: #1B52Bf;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #3b90ffc0;
}
.logo {
    display: inline;
    position: relative;
    justify-content: right;
    width: 190px;
    top: 0.5vh;
    padding-right: 10vw; 
}



.inicio {
    background-image: linear-gradient(45deg, #91BBF2, #1B52Bf);
    height: 90vh;
}
.titulo-pr {
    position: absolute;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    color: #FFFF;
    top: 50vh;
    padding-left: 10vw
}
.titulo-um {
    position: absolute;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;
    color: #FFFF;
    top: 45vh;
    padding-left: 10vw; 

}
.titulo-dois {
    position: absolute;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;
    color: #FFFF;
    top: 55vh;
    padding-left: 10vw; 
}
.foto {
    position: absolute;
    top: 45vh;
    width: 10vw;
    right: 5vw;
    padding-right: 8vw; 
}



.titulo-de-secao {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.2em;
    color: #FFFF;
    padding-top: 40px;
}



.sobre-min {
    background: #1B52Bf;
    height: 100vh;
    text-align: center;
}
.paragrafo-sm {
    text-align: justify;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
    color: #FFFF;
    padding-top: 40px;
}




.projetos{
    background: #3B74BF;
    height: 100vh;
}

.habilidades {
    background: #1B52Bf;
    height: 100vh;
}




.footer {
    height: 15vh;
    background: #91BBF2;
}
.footer > p {
    font-family: 'Noto Sans', sans-serif;
    color: #1B52Bf;
    font-size: 1vw;
    padding-left: 10vw; 
    padding-top: 1vh; 
}



