@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@keyframes animacao-pr{

    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }

}
@keyframes animacao-pr-tx {
    
    from {
        width: 0;
    }
    to {
        width: 11.3em;
    }
}
@keyframes animacao-1{
    
    from {width:0;
    }
    to {width: 11.5em;
    }

}
@keyframes animacao-2{
    
    from {width:0;
    }
    to {width:13em;
    }

}


/*Seção cabeçalho*/
.header {
    height: 10vh;
    background:#91BBF2;
    padding: 0px 40px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    column-gap: 30px;
    margin-left: 10vw;
}
a {
    font-family: 'Noto Sans', sans-serif;
    color: #1B52Bf;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    font-weight: bold;
    color: #E54F23;
}
.sessãos {
    transition: 4s;
    transform: scale(1.1);
}
.logo {
    display: inline;
    position: relative;
    justify-content: right;
    width: 190px;
    top: 0.5vh;
    padding-right: 12vw; 
}



.inicio {
    background-image: linear-gradient(45deg, #91BBF2, #1B52Bf);
    height: 90vh;
}

.titulo-pr {
    position: absolute;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3em;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: #1B52Bf;
    top: 51vh;
    margin-left: 14vw;
    white-space: nowrap;
    overflow: hidden;
}
.animacao-pr {
    animation: animacao-pr steps(40) 1s infinite normal, animacao-pr-tx 3s 300ms normal both;
}

.titulo-um {
    position: absolute;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.2em;
    color: #FFFF;
    top: 45vh;
    margin-left: 14vw; 
}
#animacao-1 {
    position: absolute;
    text-align: center; 
    padding: 0px;
    margin-left: 14vw;
    top: 49vh;
    width: 11.5em;
    height: 2px;
    background-color: #FFFF;
    animation-name: animacao-1;
    animation-duration: 4s;
}

.titulo-dois {
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.2em;
    color: #FFFF;
    top: 58vh;
    margin-left: 14vw; 
}
#animacao-2 {
    position: absolute;
    text-align: center; 
    padding: 0px;
    margin-left: 14vw;
    top: 62vh;
    width: 13em;
    height: 2px;
    background-color: #FFFF;
    animation-name: animacao-2;
    animation-duration: 4s;
}

.linkedin{
    position: absolute;
    background-color: #1B52Bf;
    color: #FFFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    padding: 15px 0;
    top: 70vh;
    width: 20%;
    margin-left: 16vw; 
    border-radius: 50px;
    transition: 1s;
}
.link-linkedin:hover {
    text-decoration: none;
    font-size: 2em;
    font-weight: lighter;
    transform: scale(1.1);
}


.foto {
    position: absolute;
    top: 45vh;
    width: 10vw;
    right: 5vw;
    padding-right: 8vw; 
}


/*Titulos*/
.titulo-de-secao {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.3em;
    color: #FFFF;
    padding-top: 50px;
}
.titulo-sobre-mim {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.3em;
    color: #FFFF;
    padding-top: 50px;
}


/*Seção sobre Mim*/
.sobre-mim {
    background: #1B52Bf;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
.paragrafo-sobre-mim {
    justify-content: center;
    align-items: center;
    text-align: justify;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #FFFF;
}

.right-sobre-mim {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.left-sobre-mim {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.animacao {
    display: flex;
    width: 400px;
}


.projetos{
    background:  #1b52bfa9;;
    height: 100vh;
}

.footer {
    color: #1B52Bf;
    background: #91BBF2;
    height: 15vh;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}
.conteiner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creditos {
    padding-top: 4vh;
    margin-left: 10vw;
}
.copy {
    text-align: center;
    padding-top: 4vh;
}
.img-copy-git {
    width: 70px;
    height: 70px;
    display: inline;
    position: relative;
    padding-top: 4vh;
    margin-right: 10vw;
}
.img-copy-link {
    width: 70px;
    height: 70px;
    padding-top: 4vh;
    margin-right: 1vw;
}